<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
            font-family: Prime;
            src: url('static/fonts/prime.ttf');
        }

        body {
            /*background-image: url('static/img/background.png');
            background-size: cover;*/
            background-color: black;
        }

        #main {
            text-align: center;
            user-select: none;
        }

        #logo {
            width: 75%;
            transform: translateX(4%);
            pointer-events: none;
        }

        #progress-label {
            color: #fff;
            font-family: Prime;
            font-size: 2.9vw;
            text-align: center;
            /*position: absolute;
            top: 62%;
            left: 22%;*/
        }


        .progress {
            background: rgba(255, 255, 255, 0.035);
            justify-content: flex-start;
            border-radius: 10px;
            align-items: center;
            /*position: relative;*/
            position: absolute;
            top: 70%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 0 5px;
            display: flex;
            height: 40px;
            width: 60%;
        }

        .progress-value {
            animation: load 3s normal forwards;
            box-shadow: 0 0px 50px -10px #0BB0F0;
            border-radius: 10px;
            background: linear-gradient(to right, #0858B8, #0A8BD9, #0BB0F0);
            height: 30px;
            width: 0;
        }

        @keyframes load {
            0% {
                width: 0;
            }

            100% {
                width: calc(var(--p) * 1%);
            }
        }
    </style>
</head>

<body>
    <div id="main">
        <img id="logo" src="static/img/logo.png">
        <p id="progress-label"></p>
        <div class="progress" style="--p:<%= completion %>">
            <div class="progress-value"></div>
        </div>
    </div>
    <script>

        let progressLabel;
        let completion = <%= completion %>;
        let completionCount = 0;
        let countInterval;

        window.onload = function () {
            progressLabel = document.getElementById('progress-label');
            countInterval = setInterval(countCompletion, 30);
        }

        function countCompletion(){
            if(completionCount <= completion){
                progressLabel.innerText = `Estimated Completion: ${completionCount}%`;
                completionCount++;
            } else {
                clearInterval(countInterval);
            }
        }


    </script>
</body>

</html>